<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Hello Thymeleaf</title>
</head>
<body>
<h1 th:text="${message}"></h1>
<form th:action="@{/calc}" th:object="${settings}" method="post">
    <lable></lable>
    <input></input>

    <h3>全体価格</h3>
    <label>許容最小-全体価格[円]</label>
    <input type="number" th:field="*{allowable_min_price}"></input>
    <label>許容最大-全体価格[円]</label>
    <input type="number" th:field="*{allowable_max_price}"></input>
    <label>最小単位-全体価格[円]</label>
    <input type="number" th:field="*{totalprice_unitvalue}"></input>

    <h3>加重平均単金</h3>
    <label>許容最小-加重平均単金[円/人時]</label>
    <input type="number" th:field="*{allowable_min_wav_unitprice}"></input>
    <label>許容最大-加重平均単金[円/人時]</label>
    <input type="number" th:field="*{allowable_max_wav_unitprice}"></input>
    <label>最小単位-加重平均単金[円/人時]</label>
    <input type="number" th:field="*{wav_unitprice_unitvalue}"></input>

    <h3>総工数</h3>
    <label>許容最小-総工数[人時]</label>
    <input></input>
    <label>許容最大-総工数[人時]</label>
    <input></input>
    <label>最小単位-総工数[人時]</label>
    <input></input>

    <h3>総工数</h3>
    <label>許容最小-総工数[人時]</label>
    <input></input>
    <label>許容最大-総工数[人時]</label>
    <input></input>
    <label>最小単位-総工数[人時]</label>
    <input></input>

    <h3>一人月時間設定</h3>
    <label>許容最小-人月時間[時間/一人月]</label>
    <input type="number" value="150"></input>
    <label>許容最大-人月時間[時間/一人月]</label>
    <input type="number" value="200"></input>
    <label>最小単位-人月時間[時間/一人月]</label>
    <input type="number" value="10"></input>
    <label>最小単位-人月[人月]</label>
    <input type="number" value="0.001"></input>




    <h3>個別単金</h3>
    <table>
        <tr>
            <th>担当者</th>
            <th>単金[円/人時]</th>
            <th>原価[円/人時]</th>
            <th>工数[人時]</th>
        </tr>
        <tr th:object="${member01}">
            <td>
                <input type="text" th:field="*{name}">
            </td>
            <td>
                <input type="text" th:field="*{unitprice}">
            </td>
            <td>
                <input type="text" th:field="*{rawunitprice}">
            </td>
            <td>
                <input type="text" th:field="*{manhour}">
            </td>
        </tr>
    </table>

    <input type="submit" value="submit" />

</form>
</body>
</html>