<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/list/edit}"  th:object="${productList}">
    <table border="1">
        <tr>
            <th>id</th>
            <th>商品名</th>
            <th>単価</th>
            <th>原価</th>
            <th>説明</th>
            <th></th>
        </tr>
        <tr th:each="product, productStat : ${products}">
            <td>
                <input type="text" name="index" th:field="${productStat.index}">
            </td>
            <td>
                <input type="text" th:field="*{products[__${productStat.index}__].name}">
            </td>
            <td>
                <input type="number" th:field="*{products[__${productStat.index}__].price}">
            </td>
            <td>
                <input type="number" th:field="*{products[__${productStat.index}__].cost}">
            </td>
            <td>
                <input type="text" th:field="*{products[__${productStat.index}__].description}">
            </td>
            <td>
                <button type="submit" name="remove" th:value="*{productStat.index}">削除</button>
            </td>

        </tr>
    </table>
    <button type="submit" name="add">追加</button>

</form>

</body>
</html>